@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(49, 51, 56);
}

/* purple button */
.purpleButton:hover {
  background-color: rgb(49, 26, 54);
  transition: background-color 0.1s ease-in-out;
}
.purpleButton {
  background-color: rgb(73, 35, 118);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none ;
  cursor: pointer;
}
.purpleButton:active {
  background-color: rgb(73, 35, 118);
  transition: background-color 0.07s ease-in-out;
}
